<!--versión actualizada 27/12-->
<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <!--Fin del Header-->

      <!--Registration Form-->
      <!--GENERAL-->

      <div class="main-form-createProduct">
        <form action="/product/create" method="POST" class="cp_formulario" enctype="multipart/form-data" id="cp_formulario">
          <!--TITLE-->
          <h1 class="title">DH-GAMERS</h1>
          <h2 class="subtitle-create-product">Crear producto</h2>
          <!--DATA ENTRY BOXES-->

      <!--Input: Nombre de Producto-->
          <div class="cp_formulario__grupo" id="cp_grupo__nombre">
             <div class="cp_formulario__grupo-input">
               <input class="cp_formulario__input" id="nombre" type="text" name="name" placeholder="Producto, marca y modelo" value=<%=locals.oldData ? oldData.name : null %>>
              <i class="cp_formulario__validacion-estado fas fa-times-circle"></i>  
               <% if (locals.errors && errors.name) { %>
                  <p class="errors">
                    <%= errors.name.msg %>
                  </p>
                <% } %>
              </div>
            <p class="cp_formulario__input-error">Escribe un nombre de producto válido</p>
          </div>
              <!-- <select class="boxes-product-create" name="category" id="category" onchange="showCategories()" required>
            <option value="none" disabled selected>Categoría</option>
            <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
            <option value="monitores" id="monitores">Monitores</option>
            <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
            <option value="motherboards" id="motherboards">Motherboards</option>
            <option value="waterCooling" id="waterCooling">Water Cooling</option>
            <option value="others" id="others">Otras</option>
          </select> -->

          <!--Input: Categoria-->
          <div class="cp_formulario__grupo" id="cp_grupo__categoria">
              <select class="boxes-product-create" name="id_category" id="id_category" onchange="showCategories()" value=<%=locals.oldData ? oldData.id_category : null %>>
                <option value="none" disabled selected>Categoria del Producto</option>
                <option value="1" id="GPU">GPU</option>
                <option value="2" id="monitores">Monitores</option>
                <option value="3" id="microprocesadores">Microprocesadores</option>
                <option value="4" id="motherboards">Motherboards</option>
                <option value="5" id="watercooling">WaterCooling</option>
                <option value="6" id="joysticks">Joysticks</option>
                <option value="7" id="others">Otras</option>
              </select>
              <i class="cp_formulario__validacion-estado fas fa-times-circle"></i> 
              <% if (locals.errors && errors.id_category) { %>
                <p class="errors">
                  <%= errors.id_category.msg %>
                </p>
                <% } %>
                <p class="cp_formulario__input-error">Seleccione una Categoria</p>
          </div>

          <!--Input: Precio-->
          <div class="cp_formulario__grupo" id="cp_grupo__precio">
            <div class="cp_formulario__grupo-input">
              <input class="cp_formulario__input" type="text" name="price" placeholder="Precio del Producto" value=<%=locals.oldData ? oldData.price : null %>>
              <i class="cp_formulario__validacion-estado fas fa-times-circle"></i>
              <% if (locals.errors && errors.price) { %>
                <p class="errors">
                  <%= errors.price.msg %>
                </p>
              <% } %>
            </div>
                <p class="cp_formulario__input-error">Escribe un precio (valores enteros)</p>
          </div>

            <!--Input: Descuento-->
            <input class="boxes-product-create" type="text" name="discount" placeholder="Descuento (0-50%)">
               
            <!--Input: BestSellers-->
            <div class="cp_formulario__grupo" id="cp_grupo__bestsellers">
                <div class="cp_formulario__grupo-input">
                  <select class="boxes-product-create" name="bestSellers" id="bestSellers" value=<%=locals.oldData ? oldData.bestSellers : null %>>
                    <option value="none" disabled selected>Best Sellers</option>
                    <option value="si" id="si">Sí</option>
                    <option value="no" id="no">No</option>
                  </select>
                  <i class="cp_formulario__validacion-estado fas fa-times-circle"></i>
                  <% if (locals.errors && errors.bestSellers) { %>
                  <p class="errors">
                      <%= errors.bestSellers.msg %>
                  </p>
                  <% } %>
                </div>
                <p class="cp_formulario__input-error">Selecciona una opción</p>
            </div>
                
            
            <!--Input: Stock-->
            <div class="cp_formulario__grupo" id="cp_grupo__stock">
              <div class="cp_formulario__grupo-input">
                <input class="cp_formulario__input" type="text" name="stock" placeholder="Cantidad de productos disponibles" value=<%=locals.oldData ? oldData.stock : null %>>
                <i class="cp_formulario__validacion-estado fas fa-times-circle"></i>
                <% if (locals.errors && errors.stock) { %>
                  <p class="errors">
                    <%= errors.stock.msg %>
                  </p>
                <% } %>
              </div>
              <p class="cp_formulario__input-error">Escribe la cantidad de productos en stock</p>
          
            </div> 

            <!--Input: Reviews-->
              <input class="boxes-product-create" type="text" name="reviews" placeholder="Cantidad de reviews">
              
            <!--Input: Fecha de Entrega-->
                <input class="boxes-product-create" type="date" name="deliveryDate" placeholder="Fecha de entrega">
                
            <!--Input: Descripción-->
                <div class="cp_formulario__grupo" id="cp_grupo__descripcion">
                  <div class="cp_formulario__grupo-input">
                    <textarea class="boxes-product-create" name="description" id="description" cols="20" rows="5" placeholder="Descripción del producto" value=<%=locals.oldData ? oldData.description : null %>></textarea>
                    <i class="cp_formulario__validacion-estado fas fa-times-circle"></i> 
                        <% if (locals.errors && errors.description) { %>
                          <p class="errors">
                              <%= errors.description.msg %>
                          </p>
                        <% } %>
                </div>
                <p class="cp_formulario__input-error">Escribe la descripción del productos</p>
              </div>

              <!--Input: Imagen-->
              <div class="cp_formulario__grupo" id="cp_grupo__foto">
          
                  <label class="label-img">Imágen del producto:</label>
                    <div class="product-photo">
                      <input class="file" type="file" name="sliderImage" id="file" value=<%=locals.oldFile ? oldFile.sliderImage : null %>>
                        
                      <% if (locals.errors && errors.sliderImage) { %>
                      <p class="errors">
                          <%= errors.sliderImage.msg %>
                      </p>
                      <% } %>
              
                    <p class="cp_formulario__input-error">Formatos disponibles: JPG, JPEG, GIF, PNG</p>
                      </div>
                      </div>


              <!--BUTTON-->
              <div class="input-button">
                <button type="submit" class="button-create-product">Crear producto</button>
              </div>
      </div>
      </form>

      </main>

      <%- include("./partials/footer") %>


        <script src="js/slider.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/validationCreateProduct.js"></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
  
  </body>

</html>