<!--versión actualizada 27/12-->
<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <!--Fin del Header-->

      <!--Registration Form-->
      <div class="main-form-createProduct">
        <form action="/product/edit/<%= productToEdit.id %>/?_method=PUT" method="POST" class="form" enctype="multipart/form-data">
          <!--TITLE-->
          <h1 class="title">DH-GAMERS</h1>
          <h2 class="subtitle">Modificar producto: <%= productToEdit.name %>
          </h2>
          <!--DATA ENTRY boxes-->
          <input class="boxes-product" type="text" name="name" value=<%=productToEdit.name %> required
          maxlength="100">

          <select class="boxes-product" name="category" id="category" required>
            <% if (productToEdit.category=="Placas de Video" ) { %>
              <option value="placasDeVideo" id="placasDeVideo" selected>Placas de Video</option>
              <option value="monitores" id="monitores">Monitores</option>
              <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
              <option value="motherboards" id="motherboards">Motherboards</option>
              <option value="waterCooling" id="waterCooling">Water Cooling</option>
              <option value="others" id="others">Otras</option>
              <% } else if (productToEdit.category=="Monitores" ) { %>
                <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                <option value="monitores" id="monitores" selected>Monitores</option>
                <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                <option value="motherboards" id="motherboards">Motherboards</option>
                <option value="waterCooling" id="waterCooling">Water Cooling</option>
                <option value="others" id="others">Otras</option>
                <% } else if (productToEdit.category=="Microprocesadores" ) { %>
                  <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                  <option value="monitores" id="monitores">Monitores</option>
                  <option value="microprocesadores" id="microprocesadores" selected>Microprocesadores</option>
                  <option value="motherboards" id="motherboards">Motherboards</option>
                  <option value="waterCooling" id="waterCooling">Water Cooling</option>
                  <option value="others" id="others">Otras</option>
                  <% } else if (productToEdit.category=="Motherboards" ) { %>
                    <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                    <option value="monitores" id="monitores">Monitores</option>
                    <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                    <option value="motherboards" id="motherboards" selected>Motherboards</option>
                    <option value="waterCooling" id="waterCooling">Water Cooling</option>
                    <option value="others" id="others">Otras</option>
                    <% } else if (productToEdit.category=="Water Cooling" ) { %>
                      <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                      <option value="monitores" id="monitores">Monitores</option>
                      <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                      <option value="motherboards" id="motherboards">Motherboards</option>
                      <option value="waterCooling" id="waterCooling" selected>Water Cooling</option>
                      <option value="others" id="others">Otras</option>
                      <% } else { %>
                        <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                        <option value="monitores" id="monitores">Monitores</option>
                        <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                        <option value="motherboards" id="motherboards">Motherboards</option>
                        <option value="waterCooling" id="waterCooling">Water Cooling</option>
                        <option value="others" id="others" selected>Otras</option>
                        <% } %>
          </select>

          <input class="boxes-product" type="text" name="price" value=<%=productToEdit.price %>>
          <input class="boxes-product" type="text" name="discount" value=<%=productToEdit.discount %>
          maxlength="2">

          <select class="boxes-product" name="bestSellers" id="bestSellers" required>
            <% if (productToEdit.bestSellers== true) { %>
            <option value="si" id="si" selected>Sí</option>
            <option value="no" id="no">No</option>
            <% } else { %>
              <option value="si" id="si" >Sí</option>
            <option value="no" id="no" selected>No</option>
             <% } %> 
          </select>

          <input class="boxes-product" type="text" name="stock" value=<%=productToEdit.stock %>
          maxlength="3">

          <input class="boxes-product" type="text" name="reviews" value=<%=productToEdit.reviews %>>

          <textarea class="boxes-product" name="description" id="description" cols="20" rows="5" minlength="50"
            maxlength="2500" required><%= productToEdit.description %></textarea>

          <label>Imágen del producto:</label>
          <div class="product-photo">
            <input class="file" type="file" name="foto">
          </div>

          <!--BUTTON-->
          <div class="input-button">
            <button type="submit" class="button-create-product">Guardar cambios</button>
          </div>
      </div>
      </form>

      </main>

      <%- include("./partials/footer") %>


        <script src="js/slider.js"></script>
        <script src="/js/main.js"></script>
  </body>

</html>