<!--versión actualizada 27/12-->
<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <!--Fin del Header-->

      <!--Registration Form-->
      <div class="main-form-createProduct">
        <form action="/product/edit/<%= productToEdit.id%>?_method=PUT" method="POST" class="form">
          <!--TITLE-->
          <h1 class="title">DH-GAMERS</h1>
          <h2 class="subtitle">Modificar producto: <%= productToEdit.name %>
          </h2>
    
          <!--DATA ENTRY boxes-->
          <label class = "fieldName">Producto: </label>
          <input class="boxes-product" type="text" name="name" placeholder="Producto, marca y modelo" value = <%=productToEdit.name %> required
          maxlength="100">
          
          <label class = "fieldName">Categoria del Producto: </label>
          <select class="boxes-product" name="category" id="category" required >
            <option value="none" disabled selected>Categoria del Producto</option>
            <% if (productToEdit.id_category=="1" ) { %>
              <option value="placasDeVideo" id="placasDeVideo" selected>Placas de Video</option>
              <option value="monitores" id="monitores">Monitores</option>
              <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
              <option value="motherboards" id="motherboards">Motherboards</option>
              <option value="waterCooling" id="waterCooling">Water Cooling</option>
              <option value="joysticks" id="joysticks">Joysticks</option>
              <option value="others" id="others">Otras</option>
              <% } else if (productToEdit.id_category=="2") { %>
                <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                <option value="monitores" id="monitores" selected>Monitores</option>
                <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                <option value="motherboards" id="motherboards">Motherboards</option>
                <option value="joysticks" id="joysticks">Joysticks</option>
                <option value="waterCooling" id="waterCooling">Water Cooling</option>
                <option value="others" id="others">Otras</option>
                <% } else if (productToEdit.id_category=="3" ) { %>
                  <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                  <option value="monitores" id="monitores">Monitores</option>
                  <option value="microprocesadores" id="microprocesadores" selected>Microprocesadores</option>
                  <option value="motherboards" id="motherboards">Motherboards</option>
                  <option value="waterCooling" id="waterCooling">Water Cooling</option>
                  <option value="joysticks" id="joysticks">Joysticks</option>
                  <option value="others" id="others">Otras</option>
                  <% } else if (productToEdit.id_category=="4" ) { %>
                    <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                    <option value="monitores" id="monitores">Monitores</option>
                    <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                    <option value="motherboards" id="motherboards" selected>Motherboards</option>
                    <option value="waterCooling" id="waterCooling">Water Cooling</option>
                    <option value="joysticks" id="joysticks">Joysticks</option>
                    <option value="others" id="others">Otras</option>
                    <% } else if (productToEdit.id_category=="5" ) { %>
                      <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                      <option value="monitores" id="monitores">Monitores</option>
                      <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                      <option value="motherboards" id="motherboards">Motherboards</option>
                      <option value="waterCooling" id="waterCooling" selected>Water Cooling</option>
                      <option value="joysticks" id="joysticks">Joysticks</option>
                      <option value="others" id="others">Otras</option>
                      <option value="others" id="others">Otras</option>
                      <% } else if (productToEdit.id_category=="6" ) { %>
                        <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                        <option value="monitores" id="monitores">Monitores</option>
                        <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                        <option value="motherboards" id="motherboards">Motherboards</option>
                        <option value="waterCooling" id="waterCooling">Water Cooling</option>
                        <option value="joysticks" id="joysticks" selected>Joysticks</option>
                        <option value="others" id="others">Otras</option>
                      <% } else { %>
                        <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
                        <option value="monitores" id="monitores">Monitores</option>
                        <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
                        <option value="motherboards" id="motherboards">Motherboards</option>
                        <option value="waterCooling" id="waterCooling">Water Cooling</option>
                        <option value="joysticks" id="joysticks">Joysticks</option>
                        <option value="others" id="others" selected>Otras</option>
                        <% } %>
          </select>
          <label class = "fieldName">Precio: </label>
          <input class="boxes-product" type="text" name="price" placeholder="Precio del Producto" value=<%=productToEdit.price %>>
          <label class = "fieldName">Descuento (%): </label>
          <input class="boxes-product" type="text" name="discount" placeholder="Descuento (0-50%)" value=<%=productToEdit.discount %>
          maxlength="2">
          <label class = "fieldName">Best Sellers: </label>
          <select class="boxes-product" name="bestSellers" id="bestSellers" required>
            <option value="none" disabled selected>Best Sellers</option>
            <% if (productToEdit.bestSellers=="true") { %>
              <option value="si" id="si" selected>Sí</option>
              <option value="no" id="no">No</option>
              <% } else { %>
                <option value="si" id="si">Sí</option>
                <option value="no" id="no" selected>No</option>
                <% } %>
          </select>

          <label class = "fieldName">Stock: </label>
          <input class="boxes-product" type="text" name="stock" placeholder="Cantidad de productos disponibles" value=<%=productToEdit.stock %>
          maxlength="3">
          <label class = "fieldName">Cantidad de reviews: </label>
          <input class="boxes-product" type="text" name="reviews" placeholder="Cantidad de reviews" value=<%=productToEdit.reviews %>>

          <label class = "fieldName">Fecha de Entrega: </label>
          <input class="boxes-product" type="date" name="deliveryDate" placeholder="Fecha de entrega" value=<%=productToEdit.deliveryDate %>>


          <label class = "fieldName">Descripción: </label>
          <textarea class="boxes-product" name="description" placeholder="Descripción del producto" id="description" cols="20" rows="5" minlength="50"
            maxlength="2500" required><%= productToEdit.description %></textarea>

          <label>Imágen del producto:</label>
          <div class="product-photo">
            <input class="file" type="file" name="sliderImage">
          </div>

          <!--BUTTON-->
          <div class="input-button">
            <button type="submit" class="button-create-product">Guardar cambios</button>
          </div>
      </div>
      </form>

      </main>

      <%- include("./partials/footer") %>


        <script src="js/slider.js"></script>
        <script src="/js/main.js"></script>
  </body>

</html>