<!--versión actualizada 27/12-->
<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <!--Fin del Header-->

      <!--Registration Form-->
      <div class="main-form-createProduct">
        <form action="/product/edit/<%= productToEdit.id%>?_method=PUT" method="POST" class="form"
          enctype="multipart/form-data">
          <!--TITLE-->
          <h1 class="title">DH-GAMERS</h1>
          <h2 class="subtitle-edit-product">Modificar producto: <%= productToEdit.name %>
          </h2>

          <!--DATA ENTRY boxes-->
          <label class="fieldName">Producto: </label>
          <input class="boxes-product" type="text" name="name" placeholder="Producto, marca y modelo"
            value="<%=  productToEdit.name %>">
          <% if (locals.errors && errors.name) { %>
            <p class="errors">
              <%= errors.name.msg %>
            </p>
            <% } %>

              <label class="fieldName">Categoria del Producto: </label>
              <select class="boxes-product" name="category" id="category" required>
                <option value="" disabled selected>Categoria del Producto</option>
                <% const categories=[ { id: 1, name: 'Placas de Video' }, { id: 2, name: 'Monitores' }, { id: 3,
                  name: 'Microprocesadores' }, { id: 4, name: 'Motherboards' }, { id: 5, name: 'Water Cooling' }, { id:
                  6, name: 'Joysticks' }, { id: 7, name: 'Otras' } ]; %>
                  <% categories.forEach(category=> { %>
                    <option value="<%= category.id %>" <%=category.id===productToEdit.id_category ? 'selected' : '' %>>
                      <%= category.name %>
                    </option>
                    <% }); %>
              </select>
              <% if (locals.errors && errors.category) { %>
                <p class="errors">
                  <%= errors.category.msg %>
                </p>
                <% } %>
                  <label class="fieldName">Precio: </label>
                  <input class="boxes-product" type="text" name="price" placeholder="Precio del Producto"
                    value=<%=productToEdit.price %>>
                  <% if (locals.errors && errors.price) { %>
                    <p class="errors">
                      <%= errors.price.msg %>
                    </p>
                    <% } %>

                      <label class="fieldName">Descuento (%): </label>
                      <input class="boxes-product" type="text" name="discount" placeholder="Descuento (0-50%)"
                        value=<%=productToEdit.discount %>>
                      <% if (locals.errors && errors.discount) { %>
                        <p class="errors">
                          <%= errors.discount.msg %>
                        </p>
                        <% } %>

                          <label class="fieldName">Best Sellers: </label>
                          <select class="boxes-product" name="bestSellers" id="bestSellers" required>
                            <option value="none" disabled selected>Best Sellers</option>
                            <% if (productToEdit.bestSellers=="true" ) { %>
                              <option value="si" id="si" selected>Sí</option>
                              <option value="no" id="no">No</option>
                              <% } else { %>
                                <option value="si" id="si">Sí</option>
                                <option value="no" id="no" selected>No</option>
                                <% } %>
                          </select>
                          <% if (locals.errors && errors.bestSellers) { %>
                            <p class="errors">
                              <%= errors.bestSellers.msg %>
                            </p>
                            <% } %>

                              <label class="fieldName">Stock: </label>
                              <input class="boxes-product" type="text" name="stock"
                                placeholder="Cantidad de productos disponibles" value=<%=productToEdit.stock %>>
                              <% if (locals.errors && errors.stock) { %>
                                <p class="errors">
                                  <%= errors.stock.msg %>
                                </p>
                                <% } %>

                                  <label class="fieldName">Cantidad de reviews: </label>
                                  <input class="boxes-product" type="text" name="reviews"
                                    placeholder="Cantidad de reviews" value=<%=productToEdit.reviews %>>
                                  <% if (locals.errors && errors.reviews) { %>
                                    <p class="errors">
                                      <%= errors.reviews.msg %>
                                    </p>
                                    <% } %>

                                      <label class="fieldName">Fecha de Entrega: </label>
                                      <input class="boxes-product" type="date" name="deliveryDate"
                                        placeholder="Fecha de entrega" value=<%=productToEdit.deliveryDate %>>

                                      <label class="fieldName">Descripción: </label>
                                      <textarea class="boxes-product" name="description"
                                        placeholder="Descripción del producto" id="description" cols="20" rows="5"
                                        required><%= productToEdit.description %></textarea>
                                      <% if (locals.errors && errors.description) { %>
                                        <p class="errors">
                                          <%= errors.description.msg %>
                                        </p>
                                        <% } %>

                                          <label class="fieldNameImg">Imágen del producto:</label>
                                          <div class="product-photo">
                                            <input class="file" id="fileImg" type="file" name="sliderImage">
                                            <% if (locals.errors && errors.sliderImage) { %>
                                              <p class="errors">
                                                <%= errors.sliderImage.msg %>
                                              </p>
                                              <% } %>
                                          </div>
                                          <!--BUTTON-->
                                          <div class="input-button">
                                            <button type="submit" class="button-create-product">Guardar cambios</button>
                                          </div>
      </div>
      </form>

      </main>

      <%- include("./partials/footer") %>


        <script src="js/slider.js"></script>
        <script src="/js/main.js"></script>
  </body>

</html>