<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 

<body>
    <%- include("./partials/header") %> 
        <section class="main-content">
            <a href="https://wa.me/3492324821" target="_blank"><img src="/images/index/whatsapp.png" alt="Contactanos por whatsapp" class="contacto-whatsapp"></a>
            <img src="/images/index/chatbot.png" alt="Chat Bot" class="chatbot">
            <img src="/images/index/chatbot-window.png" alt="Chat Bot" class="chatbot-window inactive">

            <div class="slider-pequeño">
                <ul>
                    <li><img src="/images/index/monitor.jpg" alt="Monitor Apple" class="img-slider-sup-1"></li>
                    <li><img src="/images/index/mother.jpg" alt="Motherboard" class="img-slider-sup-2"></li>
                    <li><img src="/images/index/mother2.jpg" alt="Motherboard" class="img-slider-sup-3"></li>
                    <li><img src="/images/index/gaming.jpg" alt="Joystick" class="img-slider-sup-4"></li>
                </ul>
            </div>


            <div class="slider-grande">
                <ul>
                    <li><img src="/images/index/img-slider1.jpg" alt="Slider grande" class="img-slider-sup-1"></li>
                    <li><img src="/images/index/img-slider2.jpg" alt="Slider grande" class="img-slider-sup-2"></li>
                    <li><img src="/images/index/img-slider3.jpg" alt="Slider grande" class="img-slider-sup-3"></li>
                    <li><img src="/images/index/img-slider4.jpg" alt="Slider grande" class="img-slider-sup-4"></li>
                </ul>
            </div>
            <div class="ofertas-semanales">

                <img src="/images/index/ofertas-de-la-semana.png" alt="Ofertas semanales" class="banner-ofertas-semanales">



                <div class="carrusel-ofertas-1">
                    <!--CARRUSEL MANUAL-->


                    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                    <div id="c-slider">
                        <div id="slider">
                            <section>
                                <a href="#"><img src="/images/index/publi-15-off.jpg" alt="Publicidad 15% off"></a>
                            </section>
                            <section>
                                <a href="#"><img src="/images/index/publi-20-off.jpg" alt="Publicidad 20% off"></a>
                            </section>
                            <section>
                                <a href="#"><img src="/images/index/publi-10-off.jpg" alt="Publicidad 10% off"></a>
                            </section>
                            <section>
                                <a href="#"><img src="/images/index/publi-25-off.jpg" alt="Publicidad 25% off"></a>
                            </section>
                        </div>
                        <div id="btn-prev">&#60;</div>
                        <div id="btn-next">&#62;</div>
                    </div>


                    <!--FIN DE CARRUSEL MANUAL-->




                </div>




                <div class="ofertas-index">
                    <div class="ofertas-left">
                        <img src="/images/index/Aside-left.png" alt="Imagen vertical - Joystick">
                    </div>

                    <div class="carrusel-ofertas">
                        <!--CARRUSEL MANUAL-->


                        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                        <div id="c-slider2">
                            <div id="slider2">
                                <section>
                                    <a href="#"><img src="/images/index/publi-20-off.jpg" alt="Publicidad 20% off"></a>
                                </section>
                                <section>
                                    <a href="#"><img src="/images/index/publi-15-off.jpg" alt="Publicidad 15% off"></a>
                                </section>
                                <section>
                                    <a href="#"><img src="/images/index/publi-10-off.jpg" alt="Publicidad 10% off"></a>
                                </section>
                                <section>
                                    <a href="#"><img src="/images/index/publi-25-off.jpg" alt="Publicidad 25% off"></a>
                                </section>
                            </div>
                            <div id="btn-prev2">&#60;</div>
                            <div id="btn-next2">&#62;</div>
                        </div>

                        <img src="/images/index/hot-sale.png" alt="Hot sale" class="hot-sale-img">
                        <!--FIN DE CARRUSEL MANUAL-->




                    </div>
                    
                    <div class="ofertas-right">
                        <img src="/images/index/Aside-right.png" alt="Realidad virtual">
                    </div>
                </div>

            </div>
            <div class="titular-mas-vendidos">
                <img src="/images/index/img-mas-vendidos.png" alt="Productos mas vendidos">
            </div>

            <div class="productos-mas-vendidos-container">
                <% for( let i = 0; i < product.length; i++ ) { %>
                    <div class="productos-mas-vendidos">
                        <a href="/product/detail/<%=product[i].id%>"><img src="<%=imagenesindex[i]%>" alt="imagen del Producto"></a>
                        <h5><%=product[i].name%></h5>
                        <a href="/product/detail/<%=product[i].id%>">
                            <p>Ver detalles</p>
                        </a>
                    </div>
                <% } %> 
                <div class="marcas-trabajadas">
                    <img src="/images/index/marcas-trabajadas.png" alt="Marcas con las que trabajamos"></a>
                </div>
            </div>
            
        </section>
        



    </main>

    <%- include("./partials/footer") %> 


    <script src="js/slider.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>