<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <section class="main-content">


        <article class="products-list">

          <div class="encabezado">
            <h2 class="titulo-productos">MIS PRODUCTOS</h2>
          </div>

          <hr class="line">
          <% products.forEach(function(product) { %>
            <div class="item">

              <div>
                DH- <%= product.id %>
              </div>

              <div class="product-info">
                <a class="url-product" href="/product/detail/<%=product.id%>">
                  <p class="product-name">
                    <%= product.name %>
                  </p>
                </a>
                <p class="product-category">
                  <%= product.category.name%> 
                </p>
              </div>

              <div class="price">U$S <%= product.price %>
              </div>
              
              <div class="discount"> <%= product.discount %>
              </div>

              
              <% if (product.bestSellers == 'true') { %>
                <div class="bestSellers">Sí</div>
                <% } else { %>
                  <div class="bestSellers">No</div>
                  <% } %>

              <div class="stock"> <%= product.stock %>
              </div>

              <div class="reviews"> <%= product.reviews %>
              </div>

              <div class="deliveryDate"> <%= product.deliveryDate %>
              </div>


              <div class="imagen-list"> <img src="<%= product.sliderImage %>" height=40px alt="imagen del Producto">
              </div>
              <div class="unidades">
                <%= product.stock %> u.
              </div>
              <div class="edit-buttons-container">
                <a href="/product/edit/<%=product.id%>"> <button class="edit-button"><i
                      class="fas fa-pencil"></i></button></a>

                <form action="/product/delete/<%=product.id%>/?_method=DELETE" method="POST">
                  <button class="edit-button" type="submit" ><i class="fas fa-trash-alt"></i></button>
                </form>
              </div>
            </div>
            <hr class="line">
            <% }); %>


              <div class="create-buttons-container">
                <a href="/product/create/"><button class="create-button">+</button></a>
              </div>

        </article>


      </section>

      </main>


      <%- include("./partials/footer") %>

  </body>

</html>