<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

            <div class="titulo-producto">
                <h2 class="categoria">
                    <%= productDetail.category %>
                </h2>
                <h1 class="nombre-producto">
                    <%= productDetail.name %>
                </h1>
            </div>

            <div class="rating">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star-half-stroke"></i> <span>MAS VENDIDO (<%= productDetail.reviews %>
                        comentarios) </span>
            </div>

            <div class="contenedor-version-laptop">

                <!-- image slider start -->
                <div class="carrusell-producto">
                    <div class="slides">
                        <!-- radio buttons start -->
                        <input type="radio" name="radio-btn" id="radio1" checked>
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <input type="radio" name="radio-btn" id="radio5">
                        <input type="radio" name="radio-btn" id="radio6">
                        <input type="radio" name="radio-btn" id="radio7">
                        <!-- radio buttons end -->
                        <!-- slide images start -->
                        
                        <% for(let i = 0; i < imagesSlider.length; i++) { %>
                            <div class="slide <%= i === 0 ? 'first' : '' %>">
                                <img src="<%= imagesSlider[i] %>" alt="Slider Image">
                            </div>
                        <% } %>
                        


                        <!-- slide images end -->
                        <!-- automatic navigation start -->

                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                            <div class="auto-btn5"></div>
                            <div class="auto-btn6"></div>
                            <div class="auto-btn7"></div>
                        </div>
                        <!-- automatic navigation end -->

                        <!-- manual navigation start -->
                        <div class="navigation-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                            <label for="radio3" class="manual-btn"></label>
                            <label for="radio4" class="manual-btn"></label>
                            <label for="radio5" class="manual-btn"></label>
                            <label for="radio6" class="manual-btn"></label>
                            <label for="radio7" class="manual-btn"></label>
                        </div>

                    </div>
                    <!-- manual navigation end -->
                </div>
                <!-- image slider end -->

                <div class="box-producto">
                    <div class="detalle-costo-envio">

                        <div class="costo-producto">
                            <h3 class="descuento"> -<%= productDetail.discount %> % Descuento</h3>
                            <h2 class="precio"> US$ <%= productDetail.price %>
                            </h2>
                        </div>

                        <h4>Precio Recomendado: <strike> US$ 249 </strike></h4>

                        <div class="envio-stock">
                            <h6>Entrega para el <%= productDetail.deliveryDate %> <i class="fa-solid fa-truck-fast"></i>
                            </h6>
                            <h5>Devolucion Gratis <i class="fa-solid fa-circle-check"></i></h5>
                            <h4>Tenes 30 dias desde que lo recibis </h4>
                        </div>
                    </div>

                    <div class="botones-de-compra">
                        </a> <input class="boton-cantidad" type="button" value="Disponibles <%= productDetail.stock %>"
                            onclick="msg()">
                        <a href="/productCart"> <input class="boton-comprar" type="button" value="Comprar ahora"
                                onclick="msg()"> </a>
                        </a><input class="boton-agrega-carrito" type="button" value="Agregar al carrito"
                            onclick="msg()">
                    </div>

                </div>

            </div>

            <div class="descripcion-producto">
                <h4>DESCRIPCION DEL PRODUCTO</h4>

                <h3>
                    <%= productDetail.description %>
                </h3>
                <!-- ME FALTA VER ESTA PARTE -->

                <h3> Los ventiladores del radiador ROG están específicamente ajustados para ofrecer un rendimiento
                    óptimo en los radiadores de la serie ROG Strix LC II. Los ventiladores generan 81 CFM/5,0 mmH2O
                    para una eficiencia de refrigeración excepcional 
                </h3>

                <h3> La serie ROG Strix LC II está equipada con el último diseño de placa de refrigeración.
                    Mecanizada a partir de cobre puro, la placa presenta una variedad de finos microcanales que
                    reducen la resistencia térmica y aumentan el área de superficie, lo que resulta en temperaturas
                    de CPU más bajas.
                </h3>

                <h3> El control PWM permite que tanto la bomba como los ventiladores del radiador giren a
                    velocidades más lentas cuando la CPU está inactiva o con poca carga, lo que ayuda a mantener los
                    niveles de ruido al mínimo.
                </h3>

                <h3> ROG Strix LC II 360 ofrece refrigeración líquida de CPU de alto rendimiento con una estética
                    elegante y moderna. Con un diseño de circuito cerrado y ventiladores de radiador ROG, el enfriador
                    libera todo el potencial de una CPU Intel® o AMD al tiempo que permite sutiles efectos de
                    iluminación multicolor para acentuar su construcción.
                </h3>

                <br />

                <h4>COMPATIBILIDAD INTEGRAL</h4>

                <h3> La serie ROG Strix LC II es compatible con una amplia gama de plataformas de placas base Intel® y
                    AMD, lo que le brinda la flexibilidad de emparejarla con el procesador que elija. Con 380 mm de
                    tubería a su disposición, la instalación del radiador es igualmente flexible en una variedad de
                    chasis.
                </h3>
            </div>


            

            </main>

            <%- include("./partials/footer") %>

                <script type="text/javascript">
                    var counter = 2;
                    setInterval(function () {
                        document.getElementById('radio' + counter).checked = true;
                        counter++;
                        if (counter > 7) {
                            counter = 1
                        }
                    }, 5000);
                </script>

    </body>

</html>