<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>

        <%- include("./partials/header") %>
            <!--pegar codigo-->


            <div class="titulo-productAll">
                <h1 class="productAll-listaProductos">LISTA DE PRODUCTOS</h1>
            </div>

            <section class="productAll-section">

                <div class="productos-mas-vendidos-container">
                    <% products.forEach((products)=> { %>
                        <div class="productos-mas-vendidos">
                            <a href="/product/detail/<%=products.id%>">
                                <div>
                                    <img src="<%=products.sliderImage%>" alt="imagen del Producto">
                                    <h5>
                                        <%=products.name%>
                                    </h5>
                                    <p>Ver detalles</p>
                                </div>
                            </a>
                            <div class="agregarCarrito">
                                <input text="submit"  value='AGREGAR AL CARRITO'>
                            </div>
                        </div>

                        <% }); %>

                </div>
            </section>

            </section>
            <!--pegar codigo-->


            <!--pegar codigo-->
            </section>

            </main>



            <%- include("./partials/footer") %>

    </body>


</html>