<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>

        <%- include("./partials/header") %>
            <!--pegar codigo-->
            

            <div class="titulo-productAll"><h1 class="productAll-listaProductos">LISTA DE PRODUCTOS</h1></div>
            
            <section class="productAll-section">
                
                <div class="productos-mas-vendidos-container">
                    <% for( let i=0; i < products.length; i++ ) { %>
                        <div class="productos-mas-vendidos">
                            <a href="/product/detail/<%=products[i].id%>"><img class="productAll-img"
                                    src="<%=products[i].sliderImage%>" alt="imagen del Producto"></a>
                            <h5 class="productAll-Pname">
                                <%=products[i].name%>
                            </h5>
                            <a href="/product/detail/<%=products[i].id%>">
                                <p>Ver detalles</p>
                                <p>Precio: $<%=products[i].price%>
                                </p>
                            </a>
                        </div>
                        <% } %>
                </div>
            </section>

            </section>

            </main>



            <%- include("./partials/footer") %>

    </body>


</html>