<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <section class="main-content">


        <article class="products-list">

          <div class="encabezado">
            <h2 class="titulo-productos">MIS PRODUCTOS</h2>
          </div>


          <hr class="line">
            <%for (let i = 0; i < products.length; i++) { %>
              
            <div class="item">
              <div>DH- <%= products[i].id %> </div>
              <div class="product-info">
                <a class="url-product" href="/product/detail/<%=products[i].id%>">
                  <p class="product-name">
                    <%= products[i].name %>
                  </p>
                </a>
                <p class="product-category">
                  <%= products[i].category %>
                </p>
              </div>
              <div class="price">U$S <%= products[i].price %>
              </div>
              <div class="imagen-list"> <img src="<%= imagenesindex[i] %>" height=40px alt="imagen del Producto">
              </div>
              <div class="unidades">
                <%= products[i].stock %> u.
              </div>
              <div class="edit-buttons-container">
                <a href="/product/edit/<%=products[i].id%>"> <button class="edit-button"><i
                      class="fas fa-pencil"></i></button></a>
                <a href="/product/edit/<%=products[i].id%>"> <button class="edit-button"><i
                      class="fas fa-trash-alt"></i></button>
              </div>
            </div>
            <hr class="line">
            <% } %>


              <div class="create-buttons-container">
                <a href="/product/create/"><button class="create-button">+</button></a>
              </div>

        </article>


      </section>

      </main>


      <%- include("./partials/footer") %>

  </body>

</html>