<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

            <div class="titulo-producto">
                <h2 class="categoria">
                    <%= productDetail.category %>
                </h2>
                <h1 class="nombre-producto">
                    <%= productDetail.name %>
                </h1>
            </div>

            <div class="rating">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star-half-stroke"></i> <span>MAS VENDIDO (<%= productDetail.reviews %>
                        comentarios) </span>
            </div>

            <div class="contenedor-version-laptop">

                <!-- image slider start -->
                <div class="carrusell-producto">
                    <div class="slides">
                        <!-- radio buttons start -->
                        <input type="radio" name="radio-btn" id="radio1" checked>
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <input type="radio" name="radio-btn" id="radio5">
                        <input type="radio" name="radio-btn" id="radio6">
                        <input type="radio" name="radio-btn" id="radio7">
                        <!-- radio buttons end -->
                        <!-- slide images start -->

                        <% for(let i=0; i < imagesSlider.length; i++) { %>
                            <div class="slide <%= i === 0 ? 'first' : '' %>">
                                <img src="<%= imagesSlider[i] %>" alt="Slider Image">
                            </div>
                            <% } %>



                                <!-- slide images end -->
                                <!-- automatic navigation start -->

                                <div class="navigation-auto">
                                    <div class="auto-btn1"></div>
                                    <div class="auto-btn2"></div>
                                    <div class="auto-btn3"></div>
                                    <div class="auto-btn4"></div>
                                    <div class="auto-btn5"></div>
                                    <div class="auto-btn6"></div>
                                    <div class="auto-btn7"></div>
                                </div>
                                <!-- automatic navigation end -->

                                <!-- manual navigation start -->
                                <div class="navigation-manual">
                                    <label for="radio1" class="manual-btn"></label>
                                    <label for="radio2" class="manual-btn"></label>
                                    <label for="radio3" class="manual-btn"></label>
                                    <label for="radio4" class="manual-btn"></label>
                                    <label for="radio5" class="manual-btn"></label>
                                    <label for="radio6" class="manual-btn"></label>
                                    <label for="radio7" class="manual-btn"></label>
                                </div>

                    </div>
                    <!-- manual navigation end -->
                </div>
                <!-- image slider end -->

                <div class="box-producto">
                    <div class="detalle-costo-envio">

                        <div class="costo-producto">
                            <h3 class="descuento"> -<%= productDetail.discount %> % Descuento</h3>
                            <h2 class="precio"> $<%=productDetail.price %>
                            </h2>
                        </div>

                        <h4>Precio Recomendado: <strike> $ <%=productDetail.price - (productDetail.price)*productDetail.discount/100 %> </strike></h4>

                        <div class="envio-stock">
                            <h6>Entrega para el <%=productDetail.deliveryDate %> <i class="fa-solid fa-truck-fast"></i>
                            </h6>
                            <h5>Devolucion Gratis <i class="fa-solid fa-circle-check"></i></h5>
                            <h4>Tenes 30 dias desde que lo recibis </h4>
                        </div>
                    </div>

                    <div class="botones-de-compra">
                        </a> <input class="boton-cantidad" type="button" value="Cantidad disponible: <%= productDetail.stock %>"
                            onclick="msg()">
                            <form class="qty-picker-container">
                                <input type='button' value='-' class='qty-picker qty-minus' field='quantity' />
                                <input type='text' class='quantity' name='quantity' value='1' class='qty-picker' max=<%=productDetail.stock%> />
                                <input type='button' value='+' class='qty-picker qty-plus' field='quantity' />
                            </form>
                            <br>
                        <a href="/product/cart/"> <input class="boton-comprar" type="button" value="Comprar ahora"
                                onclick="msg()"> </a>
                        </a>
                        <form id='agregarCarrito-<%=productDetail.id%>' class="agregarCarrito" class="agregarCarrito2" method="post" action="#">
                            <input type="hidden" name="productId" value="<%=productDetail.id%>">
                            <input type="hidden" name="productName" value="<%=productDetail.name%>">
                            <input type="hidden" name="productPrice" value="<%=productDetail.price%>">
                            <input type="hidden" name="productCategory" value="<%=productDetail.id_category%>">
                            <input type="hidden" name="productStock" value="<%=productDetail.stock%>">
                            <input type="hidden" name="productImage" value="<%=productDetail.sliderImage%>">
                            <input id="submit" type="submit" value='AGREGAR AL CARRITO'>
                        </form>
                    </div>

                </div>

            </div>

            <div class="descripcion-producto">
                <h4>DESCRIPCION DEL PRODUCTO</h4>
                
                <h3>
                    <%= productDetail.description %>
                </h3>
            </div>

            


            </main>

            <%- include("./partials/footer") %>

                <script type="text/javascript">
                    var counter = 2;
                    setInterval(function () {
                        document.getElementById('radio' + counter).checked = true;
                        counter++;
                        if (counter > 3) {
                            counter = 1
                        }
                    }, 5000);
                </script>

    <script src="/js/quantityButton.js"></script>
    <script src="/js/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <!-- para usar Axios y enviar data al servidor -->
    </body>

</html>