<!DOCTYPE html>
<html lang="en">


<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <div class="titulo-bienvenida-profile">
        <h1 class="h1-bienvenida">Bienvenido <%= locals.usuarioLogueado.completeName %>, estas logueado en tu perfil DH GAMERS! </h1>
      </div>
      <div class="datosUsuarios">
        <section>
          <div class="cajaDatos">
            <h2>Tu Información personal</h2>
            <br>
            <p><b>Nombre:</b>
              <%= locals.usuarioLogueado.completeName %>
            </p>
            <p><b>User:</b>
              <%= locals.usuarioLogueado.userName %>
            </p>
            <p><b>Fecha de Nacimiento:</b>
              <%= locals.usuarioLogueado.birthday %>
            </p>
            <p><b>Domicilio:</b>
              <%= locals.usuarioLogueado.adress %>
            </p>
            <p><b>Telefono:</b>
              <%= locals.usuarioLogueado.phone %>
            </p>
            <p><b>Email:</b>
              <%= locals.usuarioLogueado.email %>
            </p>
          </div>

        </section>

        <div class="cajaImagenUsuario">
          <img src="<%= locals.usuarioLogueado.image%>">
        </div>

      </div>
      </main>

      <%- include("./partials/footer") %>

  </body>

</html>