<!DOCTYPE html>
<html lang="en">


<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <div class="titulo-bienvenida-profile">
        <h1 class="h1-bienvenida">Bienvenido <%= usuarioBase.completeName %>, estas logueado en tu perfil DH GAMERS! </h1>
      </div>
      <div class="datosUsuarios">
        <section>
          <div class="cajaDatos">
            <h2>Tu Información personal</h2>
            <br>
            <p><b>Nombre:</b>
              <%= usuarioBase.completeName %>
            </p>
            <p><b>User:</b>
              <%= usuarioBase.userName %>
            </p>
            <p><b>Fecha de Nacimiento:</b>
              <%= usuarioBase.birthday %>
            </p>
            <p><b>Domicilio:</b>
              <%= usuarioBase.address %>
            </p>
            <p><b>Telefono:</b>
              <%= usuarioBase.phone %>
            </p>
            <p><b>Email:</b>
              <%= usuarioBase.email %>
            </p>
            <p><b>Editar Usuario:</b><a href="/users/edit/<%=locals.usuarioLogueado.id%>"> Click acá</a></p>
            <p><b>Ver mi carrito:</b><a href="/cart"> Click acá</a></p>

          </div>

        </section>

        <div class="cajaImagenUsuario">
          <img src="<%= usuarioBase.image%>">
        </div>
        
      </div>
      </main>

      <%- include("./partials/footer") %>

  </body>

</html>