<!DOCTYPE html>
<html lang="en">


<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <div class="datosUsuarios">
        <div class="titulo-bienvenida-profile">
          <h1 class="h1-bienvenida">Bienvenido <%= usuarioBase.completeName %>, estas logueado en tu perfil DH GAMERS!
          </h1>
        </div>
        <section class="meta-flex">



          <div class="cajaImagenUsuario">
            <img src="<%= usuarioBase.image%>">
          </div>

          <div class="cajaDatos">
            <div>
              <h2>Tu Información personal</h2>
            </div>
            <p><b><i class="fa-solid fa-signature"></i>Nombre Completo:</b>
              <%= usuarioBase.completeName %>
            </p>
            <p><b><i class="fa-solid fa-user-secret"></i> Nombre Usuario:</b>
              <%= usuarioBase.userName %>
            </p>
            <p><b><i class="fa-solid fa-cake-candles"></i> Fecha de Nacimiento:</b>
              <%= usuarioBase.birthday %>
            </p>
            <p><b><i class="fa-solid fa-location-dot"></i> Domicilio:</b>
              <%= usuarioBase.address %>
            </p>
            <p><b><i class="fa-solid fa-phone"></i> Telefono:</b>
              <%= usuarioBase.phone %>
            </p>
            <p><b><i class="fa-solid fa-at"></i> Email:</b>
              <%= usuarioBase.email %>
            </p>
            <br>
            <p><b> <i class="fa-solid fa-user-pen"></i> Editar Usuario:</b><a href="/users/edit/<%=locals.usuarioLogueado.id%>"> Click acá </a></p>
            <p><b><i class="fa-solid fa-cart-flatbed-suitcase"></i> Ver mi carrito:</b><a href="/cart"> Click acá </i></a></p>
          </div>

        </section>


        </main>
      </div>
      <%- include("./partials/footer") %>

  </body>

</html>